<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.sse.app.products.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.sse.app.members.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.sse.app.accounts.AccountDTO" alias="AccountDTO"/>
		<typeAlias type="com.sse.app.accounts.AccountInfoDTO" alias="AccountInfoDTO"/>
		<typeAlias type="com.sse.app.accounts.ListOption" alias="ListOption"/>
	</typeAliases>

</configuration>

