<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.sse.app.products.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.sse.app.members.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.sse.app.accounts.AccountDTO" alias="AccountDTO"/>
		<typeAlias type="com.sse.app.accounts.AccountInfoDTO" alias="AccountInfoDTO"/>
		<typeAlias type="com.sse.app.accounts.ListOption" alias="ListOption"/>
		<typeAlias type="com.sse.app.util.Pager" alias="Pager"/>
		<typeAlias type="com.sse.app.boards.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.sse.app.boards.notices.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.sse.app.boards.qnas.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.sse.app.files.FileDTO" alias="FileDTO"/>
		<typeAlias type="com.sse.app.members.MemberFileDTO" alias="MemberFileDTO"/>
		<typeAlias type="com.sse.app.products.ProductFileDTO" alias="ProductFileDTO"/>
		<typeAlias type="com.sse.app.boards.notices.NoticeFileDTO" alias="NoticeFileDTO"/>
		<typeAlias type="com.sse.app.boards.qnas.QnaFileDTO" alias="QnaFileDTO"/>
		<typeAlias type="com.sse.app.boards.BoardFileDTO" alias="BoardFileDTO"/>
	</typeAliases>

</configuration>

