<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.sse.app.accounts.AccountDAO">
   
   	<insert id="add" parameterType="AccountDTO">
   	
   		INSERT INTO BANK (BANK_ID,MEMBER_ID,ITEM_ID,BANK_PW) VALUES(#{bank_id},#{member_id},#{item_id},#{bank_pw})
   	
   	</insert>
   	

	<select id="detail" parameterType="AccountDTO" resultMap="detailResult">
	
		SELECT *
			FROM BANK B
			INNER JOIN
			ITEMS I
		ON B.ITEM_ID =I.ITEM_ID
		WHERE B.BANK_ID=#{bank_id}
	
	</select>
	
	<resultMap type="AccountDTO" id="detailResult">
		<id column="BANK_ID" property="bank_id"/>
		<result column="MEMBER_ID" property="member_id"/>
		<result column="ITEM_ID" property="item_id"/>
		<result column="OPEN_DATE" property="open_date"/>
		<result column="BANK_PW" property="bank_pw"/>
		<result column="BALANCE" property="balance"/>
		
		<association property="productDTO" javaType="ProductDTO">
			<result column="ITEM_NAME" property="item_name"/>
			<result column="ITEM_DETAIL" property="item_detail"/>
			<result column="ITEM_RATE" property="item_rate"/>
		</association>
		
		
	</resultMap>
	

	<insert id="transfer" parameterType="AccountInfoDTO">
		INSERT INTO BANK_INFOS (BANK_ID,RESULTBALANCE,DIFFERENCE,ACCOUNT_U) VALUES(#{bank_id},#{balance}-#{difference},'-'||#{difference},#{account_u})
	</insert>
	
	<update id="resultyou" parameterType="AccountInfoDTO">
		UPDATE BANK SET BALANCE =BALANCE + #{difference} WHERE BANK_ID =#{account_u}
	</update>
	
	<update id="resultmy" parameterType="AccountInfoDTO">
		UPDATE BANK SET BALANCE =BALANCE - #{difference} WHERE BANK_ID =#{bank_id}
	</update>
	
	<insert id="transfer2" parameterType="AccountInfoDTO">
		INSERT INTO BANK_INFOS (BANK_ID,RESULTBALANCE,DIFFERENCE,ACCOUNT_U) VALUES(#{account_u},(SELECT BALANCE FROM BANK WHERE BANK_ID=#{account_u})
		,'+'||#{difference},#{bank_id})
	</insert>
	
	<select id="password" parameterType="AccountInfoDTO" resultType="AccountInfoDTO">
		SELECT BANK_PW FROM BANK WHERE BANK_ID=#{bank_id}
	</select>

 
   </mapper>