<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.sse.app.members.MemberDAO">
   
   	<insert id="join" parameterType="MemberDTO">
   	
   		INSERT INTO MEMBERS VALUES(#{member_id},#{member_pw},#{member_name},#{member_phone},#{member_mail})
   	
   	</insert>
   
   <select id="login" parameterType="MemberDTO" resultType="MemberDTO">
   	
   		SELECT * FROM MEMBERS WHERE MEMBER_ID=#{member_id}
   
   </select>
   
   
   <update id="update" parameterType="MemberDTO">
   
   		UPDATE MEMBERS SET MEMBER_NAME =#{member_name},MEMBER_PHONE =#{member_phone}, MEMBER_MAIL =#{member_mail} WHERE MEMBER_ID =#{member_id}
   
   </update>
   
	<delete id="delete" parameterType="MemberDTO">
	
		DELETE MEMBERS WHERE MEMBER_ID=#{member_id}
	
	</delete>
   

  
   </mapper>
