<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.sse.app.members.MemberDAO">
   
   	<insert id="join" parameterType="MemberDTO">
   	
   		INSERT INTO MEMBERS VALUES(#{member_id},#{member_pw},#{member_name},#{member_phone},#{member_mail})
   	
   	</insert>
   
   <select id="login" parameterType="MemberDTO" resultMap="loginResult">
   	
   	SELECT m.*, b.*
	FROM MEMBERS m
		 LEFT OUTER JOIN
		 BANK b
	ON m.MEMBER_ID =b.MEMBER_ID
	WHERE m.MEMBER_ID = #{member_id}
   
   </select>
   
   <resultMap type="MemberDTO" id="loginResult">
   		<id column="MEMBER_ID" property="member_id"/>
   		<result column="MEMBER_PW" property="member_pw"/>
   		<result column="MEMBER_NAME" property="member_name"/>
   		<result column="MEMBER_PHONE" property="member_phone"/>
   		<result column="MEMBER_MAIL" property="member_mail"/>
   		<collection property="dtos" javaType="java.util.List" ofType="AccountDTO">
   			<id column="BANK_ID" property="bank_id"/>
   			<result column="ITEM_ID" property="item_id"/>
   			<result column="OPEN_DATE" property="open_date"/>
   			<result column="BANK_PW" property="bank_pw"/>
   			<result column="BALANCE" property="balance"/>
   		</collection>
   
   
   </resultMap>
   
      
   <update id="update" parameterType="MemberDTO">
   
   		UPDATE MEMBERS SET MEMBER_NAME =#{member_name},MEMBER_PHONE =#{member_phone}, MEMBER_MAIL =#{member_mail} WHERE MEMBER_ID =#{member_id}
   
   </update>
   
	<delete id="delete" parameterType="MemberDTO">
	
		DELETE MEMBERS WHERE MEMBER_ID=#{member_id}
	
	</delete>
	
   
   </mapper>
