<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.sse.app.boards.notices.NoticeDAO">
   
    <select id="getNum" resultType="java.lang.Long">
   		SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
   	</select>
   
   	<insert id="add" parameterType="NoticeDTO">
   		INSERT INTO NOTICE (BOARDNUM,BOARDWRITER,BOARDTITLE,BOARDCONTENTS) 
		VALUES (#{boardNum},#{boardWriter},#{boardTitle},#{boardContents})
   	</insert>
   	
   	<insert id="addFile" parameterType="NoticeFileDTO">
   		INSERT INTO NOTICEFILES VALUES (FILES_SEQ.NEXTVAL,#{boardNum},#{fileName},#{oriName})
   	</insert>
   	
   	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
   		SELECT *
		FROM
			(SELECT ROWNUM R,A.*
			FROM
				(SELECT *
				FROM NOTICE
				<where>
					<choose>
						<when test="kind=='k1'">
						BOARDTITLE LIKE '%'||#{search}||'%'
						</when>
						<when test="kind=='k2'">
						BOARDCONTENTS LIKE '%'||#{search}||'%'
						</when>
						<otherwise>
						BOARDWRITER LIKE '%'||#{search}||'%'
						</otherwise>
					</choose>
				</where>
				ORDER BY BOARDNUM DESC) A)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
   	</select>
   	
   	<select id="countList" resultType="java.lang.Long" parameterType="Pager">
   		SELECT COUNT(ROWNUM) FROM NOTICE
   						<where>
					<choose>
						<when test="kind=='k1'">
						BOARDTITLE LIKE '%'||#{search}||'%'
						</when>
						<when test="kind=='k2'">
						BOARDCONTENTS LIKE '%'||#{search}||'%'
						</when>
						<otherwise>
						BOARDWRITER LIKE '%'||#{search}||'%'
						</otherwise>
					</choose>
				</where>
   	</select>
   
   <select id="getDetail" resultMap="fileResult" parameterType="NoticeDTO">
   	SELECT *
	FROM NOTICE N
		 LEFT OUTER JOIN
		 NOTICEFILES NF
		 ON N.BOARDNUM =NF.BOARDNUM
		 WHERE N.BOARDNUM = #{boardNum}
   </select>
   
   <resultMap type="NoticeDTO" id="fileResult">
   	<id column="BOARDNUM" property="boardNum"/>
   	<result column="BOARDWRITER" property="boardWriter"/>
    <result column="BOARDTITLE" property="boardTitle"/>
   	<result column="CREATEDATE" property="createDate"/>
   	<result column="UPDATEDATE" property="updateDate"/>
   	<result column="BOARDHIT" property="boardHit"/>
   	<result column="BOARDCONTENTS" property="boardContents"/>
   	<result column="BOARDCATEGORY" property="boardCategory"/>
   	<collection property="addfiles" javaType="java.util.List" ofType="BoardFileDTO">
   		<id column="FILENUM" property="fileNum"/>
   		<result column="FILENAME" property="fileName"/>
   		<result column="ORINAME" property="oriName"/>
   	</collection>
   </resultMap>
   
   
   
   <update id="hit" parameterType="NoticeDTO">
   	UPDATE NOTICE SET BOARDHIT = BOARDHIT + 1 WHERE BOARDNUM = #{boardNum}
   </update>
   
   <update id="update" parameterType="NoticeDTO">
   	UPDATE NOTICE SET BOARDTITLE = #{boardTitle}, BOARDCONTENTS =#{boardContents} WHERE BOARDNUM =#{boardNum}
   </update>
   
   <delete id="delete" parameterType="NoticeDTO">
   	DELETE NOTICE WHERE BOARDNUM =#{boardNum}
   </delete>
   
   
   </mapper>
