<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.sse.app.notice.NoticeDAO">
   
   	<insert id="add" parameterType="NoticeDTO">
   		INSERT INTO NOTICE (BOARDNUM,BOARDWRITER,BOARDTITLE,BOARDCONTENTS) 
		VALUES (NOTICE_SEQ.NEXTVAL,#{boardWriter},#{boardTitle},#{boardContents})
   	</insert>
   	
   	<select id="">
   		SELECT *
		FROM
			(SELECT ROWNUM,A.*
			FROM
				(SELECT *
				FROM NOTICE
				ORDER BY BOARDNUM DESC) A)
		WHERE ROWNUM BETWEEN #{startRow} AND #{lastRow}
   	</select>
   	
   	<select id="countList" resultType="java.lang.Long">
   		SELECT COUNT(ROWNUM) FROM NOTICE
   	</select>
   
   
   </mapper>
