<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.sse.app.products.ProductDAO">
   
<!--리스트 가져오기  -->
   <select id="getList" resultType="ProductDTO" parameterType="Pager">
   
	
  	 SELECT * FROM
	(SELECT ROWNUM R,B.* FROM
	(SELECT * FROM ITEMS
	<where>
	ITEM_ID>0
	
	<choose>
		<when test="kind=='k2'">
			AND ITEM_DETAIL LIKE '%'||#{search}||'%'
		</when>
		<otherwise>
			AND ITEM_NAME LIKE '%'||#{search}||'%'
		</otherwise>
	</choose>
	
	</where>
	ORDER BY ITEM_ID DESC) B)
	WHERE R BETWEEN #{startRow} AND #{lastRow}

<!--    <![CDATA[
    ]]> -->
   </select>

	<select id="getTotalCount" resultType="java.lang.Long" parameterType="Pager">
		SELECT COUNT(ITEM_ID) FROM ITEMS
		
	<where>
		ITEM_ID>0
	
	<choose>
		<when test="kind=='k2'">
			AND ITEM_DETAIL LIKE '%'||#{search}||'%'
		</when>
		<otherwise>
			AND ITEM_NAME LIKE '%'||#{search}||'%'
		</otherwise>
	</choose>
	
	</where>
	
	</select>


<!--디테일 가져오기  -->
   	<select id="getDetail" resultType="ProductDTO" parameterType="ProductDTO">
   	
   		SELECT * FROM ITEMS WHERE ITEM_ID= #{item_id}
   	
   	</select>
 
 <!--새상품 추가하기  -->  	
   	<insert id="addInfo" parameterType="ProductDTO">
   	
   		INSERT INTO ITEMS VALUES (ITEMS_SEQ.NEXTVAL, #{item_name},#{item_detail},#{item_rate})
   	
   	</insert>
   	
<!-- 특정상품 하나 삭제하기 -->

	<delete id="deleteInfo" parameterType="ProductDTO">
	
		DELETE ITEMS WHERE ITEM_ID=#{item_id}
	
	</delete>
	
<!-- 특정상품 하나 수정하기  -->

	<update id="updateInfo" parameterType="ProductDTO">
	
	UPDATE ITEMS SET ITEM_NAME=#{item_name}, ITEM_DETAIL =#{item_detail},ITEM_RATE =#{item_rate} WHERE ITEM_ID=#{item_id}
	
	</update>

   
   </mapper>
