<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.sse.app.products.ProductDAO">
   
<!--리스트 가져오기  -->
   <select id="getList" resultType="ProductDTO" parameterType="java.util.List">
   
	<![CDATA[
  	 SELECT * FROM
	(SELECT ROWNUM R,B.* FROM
	(SELECT * FROM ITEMS ORDER BY ITEM_ID DESC) B)
	WHERE R BETWEEN #{list[0]} AND #{list[1]}
    ]]>
   </select>

	<select id="getTotalCount" resultType="java.lang.Long">
		SELECT COUNT(ITEM_ID) FROM ITEMS
	</select>


<!--디테일 가져오기  -->
   	<select id="getDetail" resultType="ProductDTO" parameterType="ProductDTO">
   	
   		SELECT * FROM ITEMS WHERE ITEM_ID= #{item_id}
   	
   	</select>
 
 <!--새상품 추가하기  -->  	
   	<insert id="addInfo" parameterType="ProductDTO">
   	
   		INSERT INTO ITEMS VALUES (ITEMS_SEQ.NEXTVAL, #{item_name},#{item_detail},#{item_rate})
   	
   	</insert>
   	
<!-- 특정상품 하나 삭제하기 -->

	<delete id="deleteInfo" parameterType="ProductDTO">
	
		DELETE ITEMS WHERE ITEM_ID=#{item_id}
	
	</delete>
	
<!-- 특정상품 하나 수정하기  -->

	<update id="updateInfo" parameterType="ProductDTO">
	
	UPDATE ITEMS SET ITEM_NAME=#{item_name}, ITEM_DETAIL =#{item_detail},ITEM_RATE =#{item_rate} WHERE ITEM_ID=#{item_id}
	
	</update>

   
   </mapper>
