<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.sse.app.boards.qnas.QnaDAO">
   
   <sql id="searchSql">
   	   	<where>
   		BOARDNUM>0
   		<choose>
   			<when test="kind=='title'">
   				AND BOARDTITLE LIKE '%'||#{search}||'%'
   			</when>
   			 <when test="kind=='contents'">
   				AND BOARDCONTENTS LIKE '%'||#{search}||'%'
   			</when>
   			 <otherwise>
   				AND BOARDWRITER LIKE '%'||#{search}||'%'
   			 </otherwise>
   		</choose>
   	</where>
   </sql>
   
   <select id="countList" parameterType="Pager" resultType="java.lang.Long">
   	SELECT COUNT(BOARDNUM) FROM QNA
   	<include refid="searchSql"></include>
   	
   </select>
   
   <select id="getList" parameterType="Pager" resultType="QnaDTO">
   	SELECT * FROM
   	(SELECT ROWNUM R,Q.* FROM
   	(SELECT * FROM QNA
   	
	<include refid="searchSql"></include>
   	
   	ORDER BY REF DESC, STEP ASC)Q)
   	WHERE R BETWEEN #{startRow} AND #{lastRow}
   </select>
   
   <select id="getNum" resultType="java.lang.Long">
   		SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
   </select>
   
   <insert id="add" parameterType="QnaDTO">
   
   	INSERT INTO QNA (BOARDNUM,BOARDWRITER,BOARDTITLE,BOARDCONTENTS,BOARDCATEGORY,REF,STEP,DEPTH)
   	VALUES (#{boardNum},#{boardWriter},#{boardTitle},#{boardContents},'Q',#{boardNum},0,0)
   </insert>
   
   <insert id="addFile" parameterType="QnaFileDTO">
   		INSERT INTO QNAFILES VALUES (FILES_SEQ.NEXTVAL,#{boardNum},#{fileName},#{oriName})
   	</insert>
   
   <insert id="reply" parameterType="QnaDTO">
     	<selectKey order="BEFORE" resultType="java.lang.Long" keyProperty="boardNum">
  			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
   	INSERT INTO QNA (BOARDNUM,BOARDWRITER,BOARDTITLE,BOARDCONTENTS,BOARDCATEGORY,REF,STEP,DEPTH)
   	VALUES (#{boardNum},#{boardWriter},#{boardTitle},#{boardContents},'Q',#{ref},#{step},#{depth})
   </insert>
   
   <update id="replyUpdate" parameterType="QnaDTO">
   	UPDATE QNA SET STEP=STEP+1
   	WHERE REF=#{ref} AND STEP>#{step}
   </update>
   
   <select id="getDetail" parameterType="QnaDTO" resultMap="QnaFileResult">
   	SELECT Q.*,QF.*
	FROM QNA Q
		 LEFT OUTER JOIN
		 QNAFILES QF
		 ON Q.BOARDNUM =QF.BOARDNUM
		 WHERE Q.BOARDNUM = #{boardNum}
		 AND Q.DEL=0
   </select>

   <resultMap type="QnaDTO" id="QnaFileResult">
   	<id column="BOARDNUM" property="boardNum"/>
   	<result column="BOARDWRITER" property="boardWriter"/>
    <result column="BOARDTITLE" property="boardTitle"/>
   	<result column="CREATEDATE" property="createDate"/>
   	<result column="UPDATEDATE" property="updateDate"/>
   	<result column="BOARDHIT" property="boardHit"/>
   	<result column="BOARDCONTENTS" property="boardContents"/>
   	<result column="BOARDCATEGORY" property="boardCategory"/>
   	<result column="REF" property="ref"/>
   	<result column="STEP" property="step"/>
   	<result column="DEPTH" property="depth"/>
   	<result column="DEL" property="del"/>
   	<collection property="addfiles" javaType="java.util.List" ofType="BoardFileDTO">
   		<id column="FILENUM" property="fileNum"/>
   		<result column="FILENAME" property="fileName"/>
   		<result column="ORINAME" property="oriName"/>
   	</collection>
   </resultMap>
   
    <update id="hit" parameterType="QnaDTO">
   	UPDATE QNA SET BOARDHIT = BOARDHIT + 1 WHERE BOARDNUM = #{boardNum}
   </update>
   
   <update id="update" parameterType="QnaDTO">
   	UPDATE QNA SET BOARDTITLE=#{boardTitle}, BOARDCONTENTS=#{boardContents}, UPDATEDATE=SYSDATE WHERE BOARDNUM=#{boardNum}
   </update>
   
   
   <delete id="delete" parameterType="QnaDTO">
   	UPDATE QNA SET DEL=1 WHERE BOARDNUM=#{boardNum}
   </delete>
   
   <select id="fileDetail" parameterType="FileDTO" resultType="FileDTO">
   	SELECT * FROM QNAFILES WHERE FILENUM=#{fileNum}
   </select>
   
   </mapper>
